<main>
    <div class="contact-box">

        <article class="contact-article">
            <h1>About us</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam consequatur sunt laboriosam unde ipsam, animi delectus fugit quaerat dignissimos nobis accusantium officiis omnis dolorum aliquid voluptate illum illo ipsa vero.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, laudantium ullam iste ratione amet minus iure dignissimos libero sed aliquid assumenda numquam placeat fuga officia perspiciatis at eaque architecto labore?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam consequatur sunt laboriosam unde ipsam, animi delectus fugit quaerat dignissimos nobis accusantium officiis omnis dolorum aliquid voluptate illum illo ipsa vero.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, laudantium ullam iste ratione amet minus iure dignissimos libero sed aliquid assumenda numquam placeat fuga officia perspiciatis at eaque architecto labore?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam consequatur sunt laboriosam unde ipsam, animi delectus fugit quaerat dignissimos nobis accusantium officiis omnis dolorum aliquid voluptate illum illo ipsa vero.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, laudantium ullam iste ratione amet minus iure dignissimos libero sed aliquid assumenda numquam placeat fuga officia perspiciatis at eaque architecto labore?</p>
        </article>

    </div>
</main>